DB_HOST=db               # Docker Compose Postgres service name
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=kodee
OPENAI_API_KEY="sk-xxx"    # Your OpenAI key if needed
REDIS_HOST=redis         # Docker Compose Redis service name
REDIS_PASSWORD=localpass
